{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <h1>Page not found</h1>
            <div class="col s12 m9">
                <p>Try to navigate to one of the following pages:</p>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'create-project' %}"
                            aria-label="Create a project">Create project</a></li>
                    <li><a href="{% url 'notifications' %}">Notifications</a>
                    </li>
                    <li><a href="{% url 'dashboard' %}"
                            aria-label="Go to main dahsboard">All projects</a></li>
                    <li><a href="{% url 'my-projects' %}"
                            aria-label="Open my projects">My projects</a></li>
                    <li><a href="{% url 'my-approvals' %}"
                            aria-label="Open my approvals">My approvals</a></li>
                    <li><a href="{% url 'account_logout' %}"
                            aria-label="Logout">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'account_signup' %}"
                            aria-label="Sign up">Sign up</a></li>
                    <li><a href="{% url 'account_login' %}"
                            aria-label="Login">Login</a></li>
                    {% endif %}
                </ul>
    
            </div>
        </div>
    </div>
</section>
{%endblock%}