{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Project Overview</h1>
  <!-- Project details -->
  <div class="project-container z-depth-1">
    <div class="project-details padding-2rem">
      <div class="row">
        <div class=" col s6">
          <h2>Project {{ project.id }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <p id="title">
            <span class="bold">Title:</span> {{ project.title }}
          </p>
          <div>
            {% if project.document %}
            <a href="{{ project.document.url }}" download target="_blank"><i
                class="small material-icons">attachment</i></a>
            {% endif %}
          </div>
          <div>
            {% if project.status == 0 %}
            <p class="not-approved">
              <i class="material-icons">clear</i>
            </p>
            {% else %}
            <p class="approved">
              <i class="material-icons">check_circle
              </i>
            </p>
            {% endif %}
          </div>
        </div>
        <div class="col s6">
          <p>
            <span class="bold">Owner:</span>
            {{ project.owner }}
            <span class="bold">Due date:</span>
            {{ project.due|date:'d/m/y' }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h2>Description</h2>
          <p>
            {{ project.description }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <!-- Project actions edit and delete -->
          {% if user == project.owner and project.status == 0 %}
          <a href="/edit/{{ project.id }}" class="btn btn-small text-black">EDIT PROJECT</a>
          <a href="/delete/{{ project.id }}" class="btn btn-small red" id="delete">DELETE PROJECT</a>
          <a href="/complete/{{ project.id }}" class="btn btn-small tan text-black" id="complete">COMPLETE PROJECT</a>
          {% else %}
          <a href="/edit/{{ project.id }}" class="btn btn-small disabled">EDIT PROJECT</a>
          <a href="/delete/{{ project.id }}" class="btn btn-small red disabled">DELETE PROJECT</a>
          <a href="/complete/{{ project.id }}" class="btn btn-small tan disabled">COMPLETE PROJECT</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if approvals %}
    <div class="row project-approvers padding-2rem">
      {% for approval in approvals %}
      {% if approval.project_id is project.id %}
      <div class="col xs12 s6 m4 l3">
        <h2>Approvers</h2>
        <p><span class="bold">Department:</span><br>
          {{ approval.approver.department }}
        </p>
        <p>
          <span class="bold">Approver:</span><br>
          {{ approval.approver.user }}
        </p>
        {% if approval.approved %}
        <p class="bold">Approval status:
          <span class="approved">Approved</span>
        </p>
        {% else %}
        <p>
          <span class="bold">Approval status:<br>
            <span class="not-approved">
              Not approved. Due by {{ approval.approval_due_by|date:'d/m/y' }}
            </span>
          </span>
        </p>
        {% endif %}

        {% if user.id == approval.approver_id %}
        {% if approval.approved %}
        {% else %}
        <a href="/approve/{{ approval.id }}" id="approve" class="btn btn-small tan margin-top text-black">APPROVE PROJECT</a>
        {% endif %}
        {% endif %}
      </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    {% endif %}
  </div>
  <!-- Comments -->
  <div class="row">
    <!-- Section for comments form -->
    <div class="col s12 m8">
      <div class="comment-form approved">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post">
          {{ comment_form }}
          {% csrf_token %}
          <button type="submit" class="btn text-black">Add comment</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col s12">
      {% if comments %}
      <h3>Comments</h3>
      {% endif %}
    </div>
    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
    {% for comment in comments %}
    <div class="col s12">
      <p>
        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
        {{ comment.name }}
        {{ comment.created_on }}
        wrote:
      </p>
      <div class="comment-box col s12 m8">
        {{ comment.body | linebreaks }}
      </div>
    </div>
    <!-- Our for loop ends here -->
    {% endfor %}
  </div>
</div>
{% endblock %}