/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');

/* Global styles */
:root {
    --liberty: #3B4D97;
    --verdigris: #48a9a6;
    --timberwolf: #e4dfda;
    --tan: #d4b483;
    --fuzzy-wuzzy: #A42D2D;
}

/* Base template */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav, 
.page-footer {
    background-color: var(--liberty);
}

.btn, .btn-small {
    background-color: var(--verdigris);
}

.brand-logo {
    margin-left: 10px;
}

.collection-item {
    display: flex;
    justify-content: flex-start;

}

/* Dashboard template */

.block{
    flex-basis: auto;
    margin-right: 15px;

}

.approved {
    color: var(--verdigris);
}

.bold {
    font-weight: 700;
}

.secondary-content {
    align-self: flex-start;
}