/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');

/* Global styles */
:root {
    --liberty: #3B4D97;
    --liberty-light: #e9ecf7;
    --verdigris: #48a9a6;
    --verdigris-light: #ecf7f7;
    --timberwolf: #f4f2f0;
    --tan: #d4b483;
    --fuzzy-wuzzy: #A42D2D;
}

h1 {
    color: var(--liberty);
    font-size: 3.125rem;
}

h2 {
    color: var(--liberty);
    font-size: 1.5rem;
    margin-block-start: 10px;
    margin-block-end: 0px;
    font-weight: 700;
}

h3 {
    color: var(--verdigris);
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

nav,
.sidenav,
.collapsible,
.btn,
.btn-small {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.approval {
    display: flex;
    align-items: center;
}

.row {
    margin-bottom: 0px;
}

@media only screen and (max-width: 450px) {
    .xs12,
    .s6 {
        width: auto !important;
    }

}

/* Base template */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav,
.page-footer {
    background-color: var(--liberty);
}

.btn,
.btn-small {
    background-color: var(--verdigris);
    margin: 2px;
}

.brand-logo {
    margin-left: 10px;
}

.collection-item {
    display: flex;
    justify-content: flex-start;

}

select {
    display: inline-flex;
}

/* .alert .card-content span {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 4px;
  }
  .alert .card-content .material-icons {
    font-size: 1.5em;
    top: 5px;
    margin-right: 0.5em;
  } */

#message {
    position: fixed;
    left: 5%;
    bottom: 5%;
    /* transform: translate(-50%, -50%); */
    width: auto;
    padding: 15px 20px;
    z-index: 1000;
    color: var(--verdigris);
    vertical-align: middle;
}

#message>div>p>i {
    vertical-align: middle;
    margin: 10px;
}

/* Dashboard template */

.project {
    background-color: var(--liberty-light);
    border-radius: 0.5rem;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.project-details {
    background-color: var(--liberty-light);
}

.project-approvers {
    background-color: #ffffff;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid var(--liberty-light);
}

.approved {
    color: var(--verdigris);
    vertical-align: middle;
}

.bold {
    font-weight: 700;
}

.not-approved {
    color: var(--fuzzy-wuzzy);
    vertical-align: middle;
}

.view-project {
    margin-block-start: 10px;
    margin-block-end: 0px;
}

.collapsible {
    margin: 0;
    border: 1px solid var(--liberty-light);
}

.collapsible-header {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid var(--liberty-light);
}

.collapsible-header:hover {
    background-color: var(--liberty-light);
}

#title {
    max-width: inherit;
    word-wrap: break-word;
}

/* Project details */

.red {
    background-color: var(--fuzzy-wuzzy) !important;
}

.tan {
    background-color: var(--tan) !important;
}

.margin-approvers {
    margin: 12px;
}

.margin-bottom {
    padding-bottom: 32px;
}

.row .col.m3 {
    border: 2px solid #48a9a610 !important;
    padding: 20px !important;
    margin: 20px !important;
    border-radius: 5px;
    background-color: #48a9a605;
    ;
}

.comment-box {
    border: 1px solid var(--verdigris-light) !important;
    padding: 2px 15px !important;
    border-radius: 5px;
    background-color: var(--verdigris-light);
}

.margin-top {
    margin-top: 15px;
}

.project-container {
    border-radius: 0.5rem;
}

.padding-2rem {
    padding: 2rem;
}

/* Create project template */

.add-approvers {
    padding: 20px;
    background-color: #d4b48315 !important;
    border: 1px solid #d4b48315 !important;
    border-radius: 5px;
}

.approver-form {
    margin: 10px auto;
    padding: 20px;
    background-color: #d4b48315 !important;
    border: 1px solid #d4b48315 !important;
    border-radius: 5px;
}