{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1>All projects</h1>
        <div class="collection responsive-table">
            {% for project in project_list %}
            <div class="collection-item avatar">
                <a href="#"><i class="medium material-icons left">cloud_download</i></a>
                <div class="block">
                    <span class="title bold">Id: {{ project.id }}<br>
                        Title: {{ project.title }}
                    </span>
                    <p>Owner: {{ project.owner }}<br>
                        Due date:<br>
                    </p>
                </div>
            {% for approver in project.approvers.all %}
            <div class="block">
                <p><span class="bold">{{ approver.user }} Sign off </span><br>
                    {{ approver.department }}<br>
                    <!-- <span class="approved bold">Approved on {{ approver.approval_date }}</span> -->
                </p>
            </div>
            {% endfor %}
                <a href="" class="secondary-content waves-effect waves-light btn-small right-align">View details<i
                        class="material-icons right">more_horiz</i></a>
            </div>
            {% endfor %}
        </div>

</section>


    {%endblock%}
