{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1>All projects</h1>
        <div class="collection responsive-table">
            {% for project in projects %}
            <div class="collection-item avatar">
                {% if project.document %}
                <a href="{{ project.document.url }}" download target="_blank"><i class="medium material-icons left">cloud_download</i></a>
                {% endif %}
                <div class="block">
                    <span class="title bold">Id: {{ project.id }}<br>
                        Title: {{ project.title }}
                    </span>
                    <p>Owner: {{ project.owner }}<br>
                        Due date:<br>
                    </p>
                </div>
            {% for approval in approvals %}
            {% if approval.project_id is project.id %}
            <div class="block">
                <p><span class="bold">{{ approval.approver.user }} Sign off </span><br>
                    {{ approval.approver.department }}<br>
                    <span class="approved bold">Approved on {{ approval.approval_date }}</span>
                </p>
            </div>
            {% endif %}
            {% endfor %}
                <a href="{% url 'project-details' project.slug %}" class="secondary-content waves-effect waves-light btn-small right-align">View details<i
                        class="material-icons right">more_horiz</i></a>
            </div>
            {% endfor %}
        </div>

</section>


    {%endblock%}
