{% extends "base.html" %}

{% block content %}

<div class="container margin-bottom ">
  <h1>Edit project</h1>

  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {{ approver_form.management_form }}
    <div class="add-approvers">
      <h2>Approvers</h2>
      <div id="form-container">
        {% for approver in approver_form %}
        <div class="approver-form">
          {{ approver.as_p }}
        </div>
        {% endfor %}
      </div>
      <div class="flex">
        <div id="add-approver">
          <button class="btn-floating btn-large waves-effect waves-light tan btn-small"><i
              class="material-icons">add</i></button>
        </div>
        <div id="remove-approver">
          <button class="btn-floating btn-large waves-effect waves-light red btn-small"><i
              class="material-icons ">remove</i></button>
        </div>
      </div>
    </div>
    <button class="btn margin-top margin-bottom" type="submit">Create project</button>
  </form>
</div>
</div>

{%endblock%}
