{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Project details</h1>
  <!-- Project details -->
  <div class="row">
    <div class="col s12 m12">
      <div class="card darken-1">

        <!-- Project generalities -->
        <div class="card-content">
          <h2><span class="bold">{{ project.title }}</span></h2>
          <p><span class="bold">id:</span> {{ project.id }}</p>
          <p><span class="bold">Owner:</span> {{ project.owner }}</p>
          <p><span class="bold">Created on:</span> {{ project.date_created }}</p>
          {% if project.document.url %}
          <p><span class="bold">File:</span><a href=" {{ project.document.url }}" download target="_blank"> Open attachment</a></p>
          {% endif %}
          <h3>Description</h3>
          {{ project.description }}

          <!-- Project actions edit and delete -->
          <div>
            <hr>
            <a href="/edit/{{ project.id }}" class="btn btn-small">EDIT PROJECT</a>
            <a href="/delete/{{ project.id }}" class="btn btn-small red">DELETE PROJECT</a>
          </div>
        </div>

        <!-- Project approvals -->
        <div class="card-content ">
          <h3>Approvals</h3>
          {% for approval in approvals %}
          <p><span class="bold">Department:</span> 
            {{ approval.approver_department }}<br>
            <span class="bold">Approver:</span> 
            {{ approval.approver }}<br>
            {% if approval.approved %}
            <p class="bold">Approval status:
              <span class="approved">Approved</span>
            </p>
            {% else %}
            <p>
              <span class="bold">Approval status:
                <span class="not-approved">
                  Not approved
                </span>
              </span>
            </p>
            {% endif %}
          
          {% if approval.approved %}
          {% else %}
          <a href="/approve/{{ approval.id }}" class="btn btn-small tan margin-top">APPROVE PROJECT</a>
          {% endif %}
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Comments -->
  <div class="row">
    <!-- Section for comments form -->
    <div class="col s6 m6">
      <div class="comment-form approved">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post">
        {{ comment_form }}
        {% csrf_token %}
        <button type="submit" class="btn">Add comment</button>
        </form>
        {% endif %}
      </div>
      <!-- Section for existing comments -->
      <h3>Comments</h3>
        <div class="card-body">
        <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
            <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
            {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                <!-- The comment's created date goes here -->
                {{ comment.created_on }}
              </span> wrote:
            </p>
            <!-- The body of the comment goes before the | -->
            <div class="comment-box">
              {{ comment.body | linebreaks }}
            </div>
          </div>
          <!-- Our for loop ends here -->
          {% endfor %}
        </div>
    </div>

  </div>
</div>
{% endblock %}
